---
import Layout from "../layouts/Layout.astro"
import productSpecs from "../data/product_specs.json"
import X from '../assets/theme-images/icon-x-white.svg'
const product = productSpecs.find(p => p.id === 'minyak-kelapa')
---

<Layout title={product ? product.name : 'Product Specification'} bgImage={import.meta.glob("../assets/theme-images/wallpaper-coconut-oil.jpg", {eager: true, import: 'default'})["../assets/theme-images/wallpaper-coconut-oil.jpg"]}>
  <section class="max-w-[92vw] lg:max-w-4xl mx-auto bs-mt-md px-5 py-8 md:p-20 flex flex-col gap-3 justify-between border rounded-md bg-bs-surface-2 border-bs-surface-3 relative [&_a]:underline [&_a]:underline-offset-4 [&_a]:decoration-bs-foreground-dark/80 [&_a]:hover:decoration-bs-foreground-light">
    <!-- Tombol Close -->
    <a href="/" class="absolute top-4 right-4 z-20 p-2 rounded-full hover:bg-bs-surface-3 transition" aria-label="Close">
      <X width="35" height="35" />
    </a>
    {product ? (
      <>
        <h1 class="bs-h1">{product.name}</h1>
        <div class="text-pretty bs-mt-sm bs-body-text md:text-2xl">{product.description}</div>
        <ul role="list" class="bs-mt-sm md:text-xl [&_li]:ps-1 [&_li]:py-2 list-inside">
          <li><strong>Specifications:</strong>
            <ul class="list-disc pl-6">
              {product.specs.map(spec => <li>{spec}</li>)}
            </ul>
          </li>
          <li><strong>Packaging:</strong>
            <ul class="list-disc pl-6">
              {product.packaging.map(pack => <li>{pack}</li>)}
            </ul>
          </li>
        </ul>
      </>
    ) : (
      <p class="text-center">Product data not found.</p>
    )}
  </section>
</Layout> 