---

import Image from "astro/components/Image.astro"
import hero_screens from "../assets/theme-images/hero-screens-coconut-3-re.avif"

const { settings, title, content } = Astro.props

---

<section class="bs-container py-6 flex flex-col lg:flex-row items-center justify-between">
  <!-- Content -->
  <div class="flex flex-col gap-6 lg:max-w-lg w-full py-16 flex-1">
    <h1 class="bs-h1" set:html={ title } />
    <div class="bs-body-text xl:text-xl flex flex-col gap-4 [&_p]:last:text-bs-foreground-dark" set:html={ content } />
    <button type="button" class="bs-btn self-start bs-mt-sm" onclick="demo.showModal()">
      { settings.demo.cta }
    </button>
  </div>

  <!-- Image -->
  <figure class="flex justify-end flex-1 -mt-20 lg:mt-0">
    <Image
      src={ hero_screens }
      format="avif"
      quality="high"
      alt="Screens showing phone, tablet and desktop views of our website"
      loading="eager"
    />
  </figure>
</section>

